
body {
    /*overflow: hidden;
    width: 5000px;
    height: 5000px;*/
    position: absolute;
    left: 0px;
    right:0px;
    top: 0px;
    bottom: 0px;
}

.block {
    position: absolute;
    background: #ddd;
    min-width: 200px;
    min-height: 200px;
    padding: 5px;
}

.block .title {
    cursor: move;
    text-align: center;
}